*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/openCV4_10
.idea/compiler.xml
.idea/deploymentTargetSelector.xml
.idea/gradle.xml
.idea/kotlinc.xml
.idea/misc.xml
.idea/runConfigurations.xml
.kotlin/errors/errors-1734364723123.log
.kotlin/errors/errors-1734364984876.log
.kotlin/errors/errors-1734365022311.log
.kotlin/errors/errors-1734365038653.log
.kotlin/errors/errors-1734365626356.log
.kotlin/errors/errors-1734365656986.log
.kotlin/errors/errors-1734365692343.log
.idea/compiler.xml
.idea/deploymentTargetSelector.xml
.idea/gradle.xml
.idea/kotlinc.xml
.idea/misc.xml
.idea/runConfigurations.xml
